* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.bodyContainer {
    display: flex;
}

#form {
    width: 50vw;
    background-color: rgba(131, 208, 97, 0.9);
    padding: 0.5rem;
}

.formElements {
    margin: 0.2rem;
    padding: 0.1rem;
}
#legend{
    margin: 0.1rem 1rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid purple;
    border-radius: 33px;
    font-weight: bold;
    background-color: mediumpurple;
}
fieldset{
    margin: 0.3rem;
    background-color: rgba(74, 134, 232, 0.6);
}

/*Submit & Reset Buttons*/
.btn {
    margin: 0.5rem 1rem 0 1rem;
    padding: 0.3rem 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 33px;
    background-color: darkorange;
    color: black;
}

.records {
    display: inline-block;
    background-color: rgba(244, 67, 54, 0.6);
    width: 50vw;
}

#heading {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0.5rem;
    margin: 0.3rem 0.8rem;
    background-color: rgba(48, 103, 240, 0.9);
    border-radius: 33px;
}

.tbl {
    border: 0.2rem solid maroon;
    padding: 0.3rem;
    margin: 0.5rem auto;
    background-color: #333333;
    border-spacing: 5px;
}
th{
    border: 2px solid white;
    padding: 3px;
    color: white;
}

td {
    color: wheat;
    border: 1px solid wheat;
    padding: 3px 0.8rem;
}