*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{

}

.navBar{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #333;
}
.navItem{
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    color: white;
}
.navItem:hover{
    background-color: white;
    color: #333333;
    font-weight: bold;
    padding: 0.6rem;
}
.navItem:active{
    background-color: white;
    color: #333333;
}
.navItem:last-child{
    position: absolute;
    right: 1rem;
    top: 0;
}
.mainBody{
    /*margin: 2px;*/
    /*padding: 2px;*/
}
.footer{
    position: relative;
    bottom: 0;
    background-color: #333333;
    color: white;
    padding: 0.5rem;
}