* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: mediumpurple;
}

.heading {
    margin: 1rem auto;
    padding: 0.3rem;
    width: 50vw;
    text-align: center;
    font-weight: bold;
    border: 0.5rem solid skyblue;
    background-color: wheat;
    border-radius: 33px;
}

.tbl {
    width: 95vw;
    padding: 0.3rem;
    margin: 0.5rem auto;
    background-color: white;
    border-spacing: 5px;
}

th {
    border: 2px solid #333333;
    padding: 3px;
}

td {
    border: 1px solid seagreen;
    padding: 3px 0.8rem;
}

#download_form {
    background-color: plum;
    text-align: center;
    padding: 0.1rem;
}
#download_form *{
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 33px;
}
label{
    font-size: 1.5rem;
}