* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.bodyContainer {
    display: flex;
}

#form {
    width: 50vw;
    background-color: palevioletred;
    padding: 0.5rem;
}
#update_heading{
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: aquamarine;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
    border-radius: 33px;
    box-shadow: 10px 10px 8px #888888;
}

.formElements {
    margin: 0.2rem;
    padding: 0.1rem;
}
#legend{
    margin: 0.1rem 1rem;
    padding: 0.1rem 0.5rem;
    border: 2px solid purple;
    border-radius: 33px;
    font-weight: bold;
    background-color: mediumpurple;
}
fieldset{
    margin: 0.3rem;
    background-color: paleturquoise;
}

/*Submit & Reset Buttons*/
.btn {
    margin: 0.5rem 1rem 0 1rem;
    padding: 0.3rem 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 33px;
    background-color: darkorange;
    color: black;
    box-shadow: 5px 5px 8px #333;
}

.records {
    display: inline-block;
    background-color:  palegreen;
    width: 50vw;
}

#heading {
    box-shadow: 10px 10px 8px #888888;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0.5rem;
    margin: 0.8rem 0.8rem 1rem 0.8rem;
    color: wheat;
    background-color: firebrick;
    border-radius: 33px;
}

.tbl {
    border: 0.2rem solid maroon;
    padding: 0.3rem;
    margin: 0.5rem auto;
    background-color: #333333;
    border-spacing: 5px;
}
th{
    border: 2px solid white;
    padding: 3px;
    color: white;
}

td {
    color: wheat;
    border: 1px solid wheat;
    padding: 3px 0.8rem;
}